body {
    background-image: url("https://nebraskaexaminer.com/wp-content/uploads/2022/09/NCAA-VB-Finals-NU-vs-Texas-SB-6980-1536x1024.jpg");
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: caveat;
}

#all-contents {
    width: 800px;
    margin: auto;
}

nav {
    background: #c258e5;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border: 4px #fecd6b solid;
}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff
}

main {
    background: #fecd6b;
    display: flex;
    margin-top: 20px;
    border: 4px #c258e5 solid;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px
}

.content {
    flex: 1;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 72, 255);
}

#interests {
    border: 4px white ridge;
    padding: 8px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 72, 255); 
}

h2, h3 {
    margin: 0px;
}