body {
  margin: 0px;
}

canvas {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/1a/Veterinary_Office_with_dog.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

img {
  display: none;
}
